.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  row-gap: 180px;
}

.nav-section,
.logo-section,
.contacts-section {
  display: flex;
  align-items: center;
}

.top-nav {
  padding: 92px 50px 89px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  min-height: 292px;
}

.menu {
  display: flex;
  column-gap: 18px;
  font-size: 18px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.has-circle {
  list-style-type: circle;
  margin-left: 15px;
  padding-left: 8px;
}

.menu a {
  text-decoration: none;
  color: inherit;
}

.menu a:hover:not(.active) {
  background-color: #000;
  color: #fff;
}

.active {
  text-decoration: none;
}

.main-logo {
  width: 140px;
  display: block;
  text-align: center;
}

.main-logo img {
  width: 100%;
  height: auto;
}

.contact-details {
  width: 240px;
  margin-left: auto;
  font-style: normal;
  text-align: right;
}

.phone,
.email {
  display: block;
  font-size: 18px;
  line-height: 1.35;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.location-text {
  font-size: 18px;
  line-height: 1.35;
  margin: 0;
}

.main-banner {
  position: relative;
  padding: 165px 50px 50px;
  background: url(../images/cover.jpg) center/cover no-repeat;
}

.overlay-layer {
  position: absolute;
  inset: 0;
  background-color: #000;
  opacity: 0.6;
}

.banner-text-block {
  position: relative;
  z-index: 1;
}

.main-heading {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.first-word,
.second-word,
.third-word {
  display: block;
}

.first-word {
  margin-right: -30px;
}

.second-word {
  text-align: center;
  margin-right: -30px;
}

.third-word {
  text-align: end;
  margin-right: -30px;
}

.banner-footer {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 106px;
}

.tagline {
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 18px;
  margin: 0;
}

.bid-button {
  border: 1px solid #fff;
  padding: 14px 32px;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  line-height: 1;
  text-transform: uppercase;
  background: transparent;
  cursor: pointer;
}

.bid-button:hover {
  background-color: #fff;
  color: #000;
}

.lots-article {
  padding: 0 24px 5px;
}

.lots-header h2,
.about-title {
  padding-left: 40px;
  padding-bottom: 30px;
  font-weight: 700;
  font-size: 40px;
  line-height: 1;
  text-transform: uppercase;
  margin: 0;
}

.about-title {
  padding-left: 0;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.card-item {
  height: 100%;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 30px;
  height: 100%;
  padding: 50px 40px;
}

.film-theme {
  background: url(../images/card-lot-01.jpg) center/cover no-repeat;
}

.book-theme {
  background: url(../images/card-lot-02.jpg) center/cover no-repeat;
}

.art-theme {
  background: url(../images/card-lot-03.jpg) center/cover no-repeat;
}

.image-filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.6;
}

.card-content {
  position: relative;
  z-index: 1;
}

.card-content h3 {
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  text-decoration: underline;
  text-transform: uppercase;
  margin: 0 0 30px 0;
}

.card-text {
  color: #fff;
  font-size: 20px;
  line-height: 1.2;
  margin: 0;
}

.lots-footer {
  margin: 30px 0 0 40px;
}

.more-link {
  font-size: 20px;
  text-decoration: underline;
  text-underline-offset: 4px;
  color: inherit;
}

.more-link:hover {
  background-color: #000;
  color: #fff;
}

.about-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 15px;
  padding: 0 24px;
  margin-top: -60px;
}

.logo-aside {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.circle-logo {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.circle-logo img {
  width: 148px;
  height: auto;
}

.about-info {
  margin-top: 135px;
}

.description {
  display: flex;
  flex-direction: column;
  row-gap: 28px;
  margin-top: 75px;
}

.text-block p {
  font-size: 20px;
  line-height: 1.2;
  margin: 0;
}

.page-footer {
  padding: 180px 50px 80px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-block {
  display: flex;
  flex-direction: column;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.contact {
  font-size: 18px;
  line-height: 1.35;
  text-decoration: underline;
  text-underline-offset: 4px;
  color: inherit;
}

.address-line {
  font-size: 18px;
  line-height: 1.35;
  margin: 0;
}

.footer-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5px;
}

.menu-link {
  font-size: 18px;
  line-height: 1.35;
  text-decoration: underline;
  text-underline-offset: 4px;
  color: inherit;
}

.menu-link:hover:not(.current) {
  background-color: #000;
  color: #fff;
}

.social-container {
  display: flex;
  column-gap: 48px;
}

.social-item img {
  width: 48px;
  height: 48px;
}